.chat-container {
  background: linear-gradient(to bottom, #fffdf7, #fdf7ee);
  padding: 2rem;
  max-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.chat-list-container__active-chat {
  flex-grow: 2;
  /* background-color: rgb(34, 46, 53); */
  background: linear-gradient(to bottom, #fffdf7, #fdf7ee);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.chat-container h2 {
  color: #b8944c;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.messages {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  scrollbar-color: #d9ba7f transparent;
  scrollbar-width: thin;
  background-color: #ffffffdd;
  border: 1px solid #f3e9d2;
}

.message {
  max-width: 70%;
  margin: 6px 0;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  word-wrap: break-word;
  color: #4a4a4a;
  position: relative;

  p {
    font-size: 0.9rem;
  }

  small {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 0.5rem;
  }
}

.sent {
  align-self: flex-end;
  background: linear-gradient(145deg, #ffe9b5, #f6d37e);
  color: #5a4a28;
  text-align: right;
  box-shadow: 0 2px 6px rgba(201, 170, 78, 0.25);
}

.received {
  align-self: flex-start;
  background-color: #f5f3ef;
  border: 1px solid #e4d9c1;
  color: #6a5e44;
  text-align: left;
}

.message-input {
  width: 100%;
  max-width: 800px;
  height: 100%;
  border: 1px solid #dbc79f;

  background-color: #fdfaf4;
  color: #5e5e5e;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.message-input:focus {
  border-color: #d1b26f;
}

.chat-actions {
  display: flex;
  gap: 0.5rem;
  height: 40px;
  justify-content: space-between;
}

.send-btn {
  width: 20%;
  padding: 0.9rem 1.2rem;
  background: linear-gradient(to right, #e8c36a, #bfa64b);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  /* position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%); */
  transition: all 0.35s ease;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0 4px 10px rgba(183, 145, 63, 0.3);
}

.send-btn:hover {
  background: linear-gradient(to right, #ffdb88, #caa64a);
}
